.about {
  /* width: 100vh; */
  height: 100vh;
  background-image: url("../../images/portImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
}
.bio {
  width: 50%;
  margin: auto;
  padding: 15px;
  text-align: center;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}
.bio-content {
  color: white;
  font-size: 24px;
}
ul li {
  display: inline;
  padding: 10px;
}

ul li i {
  font-size: 35px;
  color: whitesmoke;
  display: inline;
}

.scrollIcon {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  /* margin-bottom: 30px; */
}
.bio Button > a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 600px) {
  .bio {
    width: 100%;
    padding: 10px;
  }
  .bio-content {
    font-size: medium;
  }
  .scrollIcon {
    margin: 20px;
  }
}
