@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.aext {
  font-family: "Dancing+Script";
  margin-top: 3%;
  padding: 25px;
  font-size: medium;
  /* letter-spacing: normal; */
}
.SkewImage {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  /* border: 1px solid; */
  /* border-start-end-radius: 5px; */
}
/* .containerImage {
} */

.title_border {
  border-left: 4px saddlebrown solid;
  padding: 5px;
}

.contactTouch Button a {
  text-decoration: none;
  color: black;
}

.contactCard {
  background-color: #191925;
  padding: 12px;
  margin: 15px;
  margin-left: 0px;
  min-width: 200px;
  width: auto;
  border-left: 4px #020225 solid;
  color: aliceblue;
  cursor: cell;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .contactTouch {
    display: inline-block;
  }
}
