.contact {
  background-color: black;
  color: white;
}
.contactForm {
  width: 60%;
  padding: 25px;
}
.contactTouch {
  display: flex;
  margin: auto;
  padding: 20px 0px;
}
.contactTouch Button {
  margin: 5px;
}

textarea {
  width: 100%;
  background: none;
  background-color: white;
  color: black;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
}
textarea:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  .contactForm {
    width: 100%;
    /* padding: 10px; */
  }
  .contactTouch {
    display: none;
  }
}
