.contact {
  background-color: black;
  color: white;
}
.contactForm {
  width: 60%;
  padding: 15px;
  margin: 20px 0px;
}
.contact-container {
  position: relative;
  width: 100%;
  z-index: 1000;
  max-width: 1000px;
  padding: 50px;
  background: rgba(0, 0, 0, 0.171);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-radius: 10px;
  backdrop-filter: blur(25px);
}
.contact-container::before {
  content: "";
  position: absolute;

  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.05);
  pointer-events: none;
  transform: skewX(-15deg);
}
.contactTouch {
  display: flex;
  margin: auto;
  padding: 20px 0px;
}
.contactTouch Button {
  margin: 5px;
}

textarea {
  width: 100%;
  background: none;
  background-color: white;
  color: black;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
}
textarea:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  .contactForm {
    width: 100%;
    /* padding: 10px; */
  }
  .contactTouch {
    display: none;
  }
}
