@import url("https://fonts.googleapis.com/css?family=VT323");

body {
  font-family: "VT323", monospace;
  /* background-color: #003b00; */
  /* padding: 1em 2em; */
}

.text {
  line-height: 200px;
  height: 200px;
  /* background: rgb(0, 0, 0); */
  /* background: rgba(0, 0, 0, 0.5);  */
  margin: auto;
  width: 50%;
  padding: 20px;
}

.text h1 {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  color: #8a2c2c;
}

#cursor {
  border-left: 0.1em solid #8a2c2c;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@media screen and (max-width: 600px) {
  .text {
    width: 80%;
    padding: 10px;
    border: none;
  }
}
